@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light theme */
html {
  --background: 255, 255, 255;
  --foreground: 0, 0, 0;
}

/* Dark theme */
html.dark {
  --background: 17, 24, 39;
  --foreground: 255, 255, 255;
}