@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(0, 0, 0);
    --card: rgb(255, 255, 255);
    --card-foreground: rgb(0, 0, 0);
    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(0, 0, 0);
    --primary: rgb(220, 38, 38);
    --primary-foreground: rgb(255, 255, 255);
    --secondary: rgb(31, 41, 55);
    --secondary-foreground: rgb(255, 255, 255);
    --muted: rgb(243, 244, 246);
    --muted-foreground: rgb(107, 114, 128);
    --accent: rgb(220, 38, 38);
    --accent-foreground: rgb(255, 255, 255);
    --destructive: rgb(239, 68, 68);
    --destructive-foreground: rgb(255, 255, 255);
    --border: rgb(229, 231, 235);
    --input: rgb(229, 231, 235);
    --ring: rgb(220, 38, 38);
    --radius: 0.5rem;
  }

  .dark {
    /* Background Colors */
    --background: #181C14;
    --input: #262626;
    --background-secondary: #3C3D37;
    --suggestion-background: #181C14;
    --hover-background: #262626;
    
    /* Text Colors */
    --foreground: #ffffff;
    --accent-foreground: #697565;
    --hover-foreground: #ECDFCC;

    /* Border Colors */
    --border: #697565;
    --ring-accent: #697565;

    /* Other Colors */
    --primary: #ECDFCC;
    --secondary: #ECDFCC;
  }
}

:root {
  --font-sans: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

